<windy-widget></windy-widget>
<div class="container">
	<!-- TODO: search by country and city  -->
	<!-- <city-search data-countries="countriesData"></city-search> -->
	<div class="panel panel-default panel-weather">
		<div class="panel-heading">
			<h2 ng-bind-html="'WEATHER_TITLE' | translate"></h2>
		</div>
		<div class="panel-body">
			<div class="weather-info">
				<h3 ng-bind-html="'WEATHER_LOCATION_TITLE' | translate:{city:targetCity, country:targetCountry}"></h3>
				<div class="details">
					<img ng-src="https://openweathermap.org/img/w/{{ weatherInfo.icon }}.png" alt="{{ weatherInfo.description }}">
					<h3>
						<span ng-bind-html="weatherData.main.temp"></span>
						<span ng-bind-html="'UNITS.TEMP' | translate"></span>
					</h3>
				</div>
				<p ng-bind-html="weatherInfo.description | capitalize"></p>
			</div>
		</div>
		<table class="table table-striped table-bordered">
			<tr>
				<td ng-bind-html="'WEATHER_WIND_LBL' | translate"></td>
				<td>
					<span ng-bind-html="'UNITS.SPEED_VALUE' | translate:{value:weatherData.wind.speed}"></span>
				</td>
			</tr>
			<tr>
				<td ng-bind-html="'WEATHER_PRESSURE_LBL' | translate"></td>
				<td>
					<span ng-bind-html="'UNITS.PRESSURE_VALUE' | translate:{value:weatherData.main.pressure}"></span>
				</td>
			</tr>
			<tr>
				<td ng-bind-html="'WEATHER_HUMIDITY_LBL' | translate"></td>
				<td>
					<span ng-bind-html="'UNITS.HUMIDITY_VALUE' | translate:{value:weatherData.main.humidity}"></span>
				</td>
			</tr>
			<tr>
				<td ng-bind-html="'WEATHER_SUNRISE_LBL' | translate"></td>
				<td>
					<span ng-bind-html="weatherData.sys.sunrise | unixDateToTime"></span>
				</td>
			</tr>
			<tr>
				<td ng-bind-html="'WEATHER_SUNSET_LBL' | translate"></td>
				<td>
					<span ng-bind-html="weatherData.sys.sunset | unixDateToTime"></span>
				</td>
			</tr>
		</table>
	</div>
	<div class="panel panel-default panel-weather" ng-if="forecastData && forecastData.list">
		<div class="panel-heading">
			<h2 ng-bind-html="'WEATHER_FORECAST_TITLE' | translate"></h2>
		</div>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="item in forecastList">
				<div class="row">
					<div class="col-md-1 col-sm-1 col-xs-12">
						<img ng-src="https://openweathermap.org/img/w/{{ item.weather.icon }}.png" alt="{{ item.weather.description }}">
					</div>
					<div class="col-md-11 col-sm-11 col-xs-12">
						<p class="forecast-card">
							<strong ng-bind-html="item.dt | unixDateToDate"></strong>
						</p>
						<p class="forecast-card">
							<span class="label label-primary" ng-bind-html="'UNITS.TEMP_VALUE' | translate:{value:item.main.temp_min}"></span>
							<span class="label label-warning" ng-bind-html="'UNITS.TEMP_VALUE' | translate:{value:item.main.temp_max}"></span>
							<span ng-bind-html="item.weather.description | capitalize"></span>
						</p>
						<p class="forecast-card">
							<span class="label label-default" ng-bind-html="'WEATHER_WIND_LBL' | translate"></span>
							<span ng-bind-html="'UNITS.SPEED_VALUE' | translate:{value:item.wind.speed}"></span>
						</p>
						<p class="forecast-card">
							<span class="label label-default" ng-bind-html="'WEATHER_PRESSURE_LBL' | translate"></span>
							<span ng-bind-html="'UNITS.PRESSURE_VALUE' | translate:{value:item.main.pressure}"></span>
						</p>
						<p class="forecast-card">
							<span class="label label-default" ng-bind-html="'WEATHER_HUMIDITY_LBL' | translate"></span>
							<span ng-bind-html="'UNITS.HUMIDITY_VALUE' | translate:{value:item.main.humidity}"></span>
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
