/node_modules
/dist
/build
/vendor
/.tmp
/.sass-cache
/resources/config.*.json
/resources/data.json
/bower_components
/app/data/translations/
/app/fonts/
/app/styles/*.css
/app/scripts/config.js
/app/scripts/templates.js
/app/web.config
/app/*.html
/test/reports/
/test/coverage/
