<div class="container panel-search">
	<div class="row">
		<div class="country-group col-sm-offset-2 col-sm-4 col-xs-12">
			<div class="input-group clearfix">
				<input type="text"
					placeholder="{{ 'SEARCH_COUNTRY_NAME_LBL' | translate }}"
					ng-model="selectedCountry"
					uib-typeahead="country as country.name for country in (countries | filterCountries:$viewValue)"
					class="form-control">
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="selectedCountry = null">
						<span class="fa fa-times"></span>
					</button>
				</span>
			</div>
		</div>
		<div class="city-group col-sm-4 col-xs-12">
			<div class="input-group">
				<input type="text"
					placeholder="{{ 'SEARCH_CITY_NAME_LBL' | translate }}"
					ng-model="selectedCity"
					class="form-control" >
				<span class="input-group-btn">
			        <button class="btn btn-primary" type="button"
						ng-disabled="!selectedCountry || !selectedCountry.code"
						ng-click="onSearch()">
						<span class="fa fa-search"></span>
					</button>
			    </span>
			</div>
		</div>
	</div>
</div>
