<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
			<mimeMap fileExtension=".woff2" mimeType="application/x-font-woff"/>
			<mimeMap fileExtension=".json" mimeType="application/json"/>
		</staticContent>
		<rewrite>
			<rules>
				<rule name="Redirect_APP" stopProcessing="true">
					<match url="^app(.*)" ignoreCase="true"/>
					<action type="Redirect" url="/" redirectType="Permanent"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<location path="index.html">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<add name="Cache-Control" value="private, no-cache, no-store, must-revalidate, max-age=0, proxy-revalidate, s-maxage=0"/>
					<add name="Pragma" value="no-cache"/>
					<add name="Expires" value="-1"/>
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
</configuration>
