body,
html {
	.app-font;
}

body {
	color: @app-font-color;
	background: @app-background-color;
	padding-top: 70px;
}

.container {
	@media (min-width: @screen-sm-min) {
		width: @container-sm;
	}
	@media (min-width: @screen-md-min) {
		width: 850px;
	}
	@media (min-width: @screen-lg-min) {
		width: 850px;
	}

	z-index: 10;
}
