body,
html {
	.app-font;
}

body {
	background-color: @background-color;
}

.text-nowrap {
    white-space: nowrap;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0;
  outline: 5px auto @brand-primary;
}

#windyty {
	position: absolute;
	width: 100%;
	/* Firefox */
	height: ~"-moz-calc(100% - 50px)";
	/* WebKit */
	height: ~"-webkit-calc(100% - 50px)";
	/* Opera */
	height: ~"-o-calc(100% - 50px)";
	/* Standard */
	height: ~"calc(100% - 50px)";
	left: 0;
	top: 50px;
}
