.panel-weather {
	opacity: 0.9;
	.panel-heading {
		h2 {
			.h2-title;
			font-size: 1.4em;
		}
	}

	.panel-body {
		.weather-info {
			text-align: center;

			h3 {
				.h2-title;
				font-size: 2.0em;
			}

			.details {
				h3 {
					font-size: 3em;
				}

				i.owi {
					font-size: 128px;
					margin: 10px 0;
				}
			}
		}
	}

	.table {
		font-size: 1.2em;
		tr {
			td:first-child {
				width: 20%;
			}
		}
	}

	.forecast-list {
		i.owi {
			width: 80px;
			height: 80px;
			font-size: 80px;
			display: block;
			margin: 0 auto;
		}

		.forecast-card {
			margin: 0;

			span {
				padding: 1px 0;
				font-size: 14px;
				line-height: 1 !important;
				box-sizing: border-box;
			}

			span.label {
				font-size: 14px;
				line-height: 1 !important;
				padding: 3px 6px;
				width: 90px;
				display: inline-block;
				height: 21px;
			}

			span.label-txt {
				display: inline-block;
				width: 100px;
				text-align: left;
			}
		}

		.forecast-card + .forecast-card {
			margin-top: 3px;
		}
	}

	@media @size-xs {
		.panel-heading {
			h2 {
				font-size: 1.1em;
			}
		}

		.panel-body {
			.weather-info {
				h3 {
					font-size: 1.0em;
				}

				.details {
					h3 {
						font-size: 1.5em;
					}

					i.owi {
						font-size: 128px;
					}
				}
			}
		}

		.forecast-list {

		}
	}
}
