.panel-weather {
	opacity: 0.9;
	.panel-heading {
		h2 {
			.h2-title;
			font-size: 1.4em;
		}
	}

	.panel-body {
		.weather-info {
			text-align: center;

			h3 {
				.h2-title;
				font-size: 2.0em;
			}

			.details {
				h3 {
					font-size: 3em;
				}
			}
		}
	}

	.table {
		font-size: 1.2em;
		tr {
			td:first-child {
				width: 20%;
			}
		}
	}
}
